<a href="https://colab.research.google.com/github/rushi-k12/Apache_Spark/blob/main/Apache_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [7]:
spark

In [10]:
filepath = '/content/WalmartSQL repository..csv'
delimiter = ';'
df = spark.read.csv(filepath, header=True, sep=delimiter)

df.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+-------------------+--------+--------------+------+----------------+------------+------+-----------+---------+----------+
| invoice_id|branch|     city|customer_type|gender|        product_line|unit_price|quantity|    vat|   total|               dtme|     tme|payment_method|  cogs|gross_margin_pct|gross_income|rating|time_of_day| day_name|month_name|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+-------------------+--------+--------------+------+----------------+------------+------+-----------+---------+----------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715|2019-01-05 00:00:00|13:08:00|       Ewallet|522.83|          4.7619|     26.1415|   9.1|  afternoon| Saturday|   January|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22|2019-03-08 00:00:00|10:29:00|          Cash|  76.4|          4.7619|        3.82|   9.6|    morning|   Friday|     March|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255|2019-03-03 00:00:00|13:23:00|   Credit card|324.31|          4.7619|     16.2155|   7.4|  afternoon|   Sunday|     March|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048|2019-01-27 00:00:00|20:33:00|       Ewallet|465.76|          4.7619|      23.288|   8.4|    evening|   Sunday|   January|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785|2019-02-08 00:00:00|10:37:00|       Ewallet|604.17|          4.7619|     30.2085|   5.3|    morning|   Friday|  February|
|699-14-3026|     C|Naypyitaw|       Normal|  Male|Electronic access...|     85.39|       7|29.8865|627.6165|2019-03-25 00:00:00|18:30:00|       Ewallet|597.73|          4.7619|     29.8865|   4.1|    evening|   Monday|     March|
|355-53-5943|     A|   Yangon|       Member|Female|Electronic access...|     68.84|       6| 20.652| 433.692|2019-02-25 00:00:00|14:36:00|       Ewallet|413.04|          4.7619|      20.652|   5.8|  afternoon|   Monday|  February|
|315-22-5665|     C|Naypyitaw|       Normal|Female|  Home and lifestyle|     73.56|      10|  36.78|  772.38|2019-02-24 00:00:00|11:38:00|       Ewallet| 735.6|          4.7619|       36.78|   8.0|    morning|   Sunday|  February|
|665-32-9167|     A|   Yangon|       Member|Female|   Health and beauty|     36.26|       2|  3.626|  76.146|2019-01-10 00:00:00|17:15:00|   Credit card| 72.52|          4.7619|       3.626|   7.2|    evening| Thursday|   January|
|692-92-5582|     B| Mandalay|       Member|Female|  Food and beverages|     54.84|       3|  8.226| 172.746|2019-02-20 00:00:00|13:27:00|   Credit card|164.52|          4.7619|       8.226|   5.9|  afternoon|Wednesday|  February|
|351-62-0822|     B| Mandalay|       Member|Female| Fashion accessories|     14.48|       4|  2.896|  60.816|2019-02-06 00:00:00|18:07:00|       Ewallet| 57.92|          4.7619|       2.896|   4.5|    evening|Wednesday|  February|
|529-56-3974|     B| Mandalay|       Member|  Male|Electronic access...|     25.51|       4|  5.102| 107.142|2019-03-09 00:00:00|17:03:00|          Cash|102.04|          4.7619|       5.102|   6.8|    evening| Saturday|     March|
|365-64-0515|     A|   Yangon|       Normal|Female|Electronic access...|     46.95|       5|11.7375|246.4875|2019-02-12 00:00:00|10:25:00|       Ewallet|234.75|          4.7619|     11.7375|   7.1|    morning|  Tuesday|  February|
|252-56-2699|     A|   Yangon|       Normal|  Male|  Food and beverages|     43.19|      10| 21.595| 453.495|2019-02-07 00:00:00|16:48:00|       Ewallet| 431.9|          4.7619|      21.595|   8.2|    evening| Thursday|  February|
|829-34-3910|     A|   Yangon|       Normal|Female|   Health and beauty|     71.38|      10|  35.69|  749.49|2019-03-29 00:00:00|19:21:00|          Cash| 713.8|          4.7619|       35.69|   5.7|    evening|   Friday|     March|
|299-46-1805|     B| Mandalay|       Member|Female|   Sports and travel|     93.72|       6| 28.116| 590.436|2019-01-15 00:00:00|16:19:00|          Cash|562.32|          4.7619|      28.116|   4.5|    evening|  Tuesday|   January|
|656-95-9349|     A|   Yangon|       Member|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|2019-03-11 00:00:00|11:03:00|   Credit card|482.51|          4.7619|     24.1255|   4.6|    morning|   Monday|     March|
|765-26-6951|     A|   Yangon|       Normal|  Male|   Sports and travel|     72.61|       6| 21.783| 457.443|2019-01-01 00:00:00|10:39:00|   Credit card|435.66|          4.7619|      21.783|   6.9|    morning|  Tuesday|   January|
|329-62-1586|     A|   Yangon|       Normal|  Male|  Food and beverages|     54.67|       3| 8.2005|172.2105|2019-01-21 00:00:00|18:00:00|   Credit card|164.01|          4.7619|      8.2005|   8.6|    evening|   Monday|   January|
|319-50-3348|     B| Mandalay|       Normal|Female|  Home and lifestyle|      40.3|       2|   4.03|   84.63|2019-03-11 00:00:00|15:30:00|       Ewallet|  80.6|          4.7619|        4.03|   4.4|  afternoon|   Monday|     March|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+-------------------+--------+--------------+------+----------------+------------+------+-----------+---------+----------+
only showing top 20 rows

In [11]:
df.createOrReplaceTempView("df")

In [15]:
QUERY = "select branch from df"

In [16]:
q1 = spark.sql(QUERY)

In [17]:
q1.show()

+------+
|branch|
+------+
|     A|
|     C|
|     A|
|     A|
|     A|
|     C|
|     A|
|     C|
|     A|
|     B|
|     B|
|     B|
|     A|
|     A|
|     A|
|     B|
|     A|
|     A|
|     A|
|     B|
+------+
only showing top 20 rows

In [18]:
q2 = spark.sql(QUERY)
pd = q2.toPandas()
pd

    branch
0        A
1        C
2        A
3        A
4        A
..     ...
995      C
996      B
997      A
998      A
999      A

[1000 rows x 1 columns]

In [19]:
filter1 = df.city == 'Yangon'
filter2 = df.quantity == '7'
df2 = df.filter(filter1).filter(filter2)

In [20]:
df2.show()

+-----------+------+------+-------------+------+--------------------+----------+--------+-------+--------+-------------------+--------+--------------+------+----------------+------------+------+-----------+---------+----------+
| invoice_id|branch|  city|customer_type|gender|        product_line|unit_price|quantity|    vat|   total|               dtme|     tme|payment_method|  cogs|gross_margin_pct|gross_income|rating|time_of_day| day_name|month_name|
+-----------+------+------+-------------+------+--------------------+----------+--------+-------+--------+-------------------+--------+--------------+------+----------------+------------+------+-----------+---------+----------+
|750-67-8428|     A|Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715|2019-01-05 00:00:00|13:08:00|       Ewallet|522.83|          4.7619|     26.1415|   9.1|  afternoon| Saturday|   January|
|631-41-3108|     A|Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255|2019-03-03 00:00:00|13:23:00|   Credit card|324.31|          4.7619|     16.2155|   7.4|  afternoon|   Sunday|     March|
|373-73-7910|     A|Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785|2019-02-08 00:00:00|10:37:00|       Ewallet|604.17|          4.7619|     30.2085|   5.3|    morning|   Friday|  February|
|656-95-9349|     A|Yangon|       Member|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|2019-03-11 00:00:00|11:03:00|   Credit card|482.51|          4.7619|     24.1255|   4.6|    morning|   Monday|     March|
|633-44-8566|     A|Yangon|       Member|  Male|  Food and beverages|     49.38|       7| 17.283| 362.943|2019-03-27 00:00:00|20:35:00|   Credit card|345.66|          4.7619|      17.283|   7.3|    evening|Wednesday|     March|
|873-51-0671|     A|Yangon|       Member|Female|   Sports and travel|     21.98|       7|  7.693| 161.553|2019-01-10 00:00:00|16:42:00|       Ewallet|153.86|          4.7619|       7.693|   5.1|    evening| Thursday|   January|
|668-90-8900|     A|Yangon|       Normal|Female|  Home and lifestyle|     93.69|       7|32.7915|688.6215|2019-03-10 00:00:00|18:44:00|   Credit card|655.83|          4.7619|     32.7915|   4.5|    evening|   Sunday|     March|
|101-17-6199|     A|Yangon|       Normal|  Male|  Food and beverages|     45.79|       7|16.0265|336.5565|2019-03-13 00:00:00|19:44:00|   Credit card|320.53|          4.7619|     16.0265|   7.0|    evening|Wednesday|     March|
|105-31-1824|     A|Yangon|       Member|  Male|   Sports and travel|     69.52|       7| 24.332| 510.972|2019-02-01 00:00:00|15:10:00|   Credit card|486.64|          4.7619|      24.332|   8.5|  afternoon|   Friday|  February|
|586-25-0848|     A|Yangon|       Normal|Female|   Sports and travel|     12.34|       7|  4.319|  90.699|2019-03-04 00:00:00|11:19:00|   Credit card| 86.38|          4.7619|       4.319|   6.7|    morning|   Monday|     March|
|253-12-6086|     A|Yangon|       Member|Female|   Sports and travel|      98.4|       7|  34.44|  723.24|2019-03-12 00:00:00|12:43:00|   Credit card| 688.8|          4.7619|       34.44|   8.7|  afternoon|  Tuesday|     March|
|430-60-3493|     A|Yangon|       Member|Female|  Home and lifestyle|     94.88|       7| 33.208| 697.368|2019-02-03 00:00:00|14:38:00|          Cash|664.16|          4.7619|      33.208|   4.2|  afternoon|   Sunday|  February|
|411-77-0180|     A|Yangon|       Member|  Male|Electronic access...|      72.2|       7|  25.27|  530.67|2019-03-26 00:00:00|20:14:00|       Ewallet| 505.4|          4.7619|       25.27|   4.3|    evening|  Tuesday|     March|
|286-01-5402|     A|Yangon|       Normal|Female|   Sports and travel|     40.23|       7|14.0805|295.6905|2019-03-30 00:00:00|13:22:00|          Cash|281.61|          4.7619|     14.0805|   9.6|  afternoon| Saturday|     March|
|531-80-1784|     A|Yangon|       Normal|  Male|Electronic access...|     26.02|       7|  9.107| 191.247|2019-03-28 00:00:00|17:38:00|          Cash|182.14|          4.7619|       9.107|   5.1|    evening| Thursday|     March|
|834-61-8124|     A|Yangon|       Normal|  Male|Electronic access...|     51.69|       7|18.0915|379.9215|2019-01-26 00:00:00|18:22:00|          Cash|361.83|          4.7619|     18.0915|   5.5|    evening| Saturday|   January|
|745-71-3520|     A|Yangon|       Member|Female|Electronic access...|     25.22|       7|  8.827| 185.367|2019-02-04 00:00:00|10:23:00|          Cash|176.54|          4.7619|       8.827|   8.2|    morning|   Monday|  February|
|269-10-8440|     A|Yangon|       Member|  Male|   Health and beauty|     53.17|       7|18.6095|390.7995|2019-01-21 00:00:00|18:01:00|          Cash|372.19|          4.7619|     18.6095|   8.9|    evening|   Monday|   January|
|301-11-9629|     A|Yangon|       Normal|Female|   Sports and travel|      19.1|       7|  6.685| 140.385|2019-01-15 00:00:00|10:43:00|          Cash| 133.7|          4.7619|       6.685|   9.7|    morning|  Tuesday|   January|
|595-27-4851|     A|Yangon|       Normal|Female| Fashion accessories|     54.28|       7| 18.998| 398.958|2019-01-27 00:00:00|18:05:00|       Ewallet|379.96|          4.7619|      18.998|   9.3|    evening|   Sunday|   January|
+-----------+------+------+-------------+------+--------------------+----------+--------+-------+--------+-------------------+--------+--------------+------+----------------+------------+------+-----------+---------+----------+
only showing top 20 rows

In [21]:
from pyspark.ml.feature import Imputer